aside {
	display: flex;
	flex: 1;
	max-width: 20%;
}

.groups {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem 0;
	width: 100%;
	background-color: var(--background-secondary);
}

.group-data {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	margin-left: 0.3rem;
	border-bottom: 1px solid #555;
}

.group-picture {
	object-fit: cover;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

.group-name {
	font-size: 1.2rem;
	color: var(--text-primary);
}
