:root {
	--primary-color: #47CDFF;
	--text-primary: #828a99;
	--text-secondary: #585b61;
	--background-primary: #313742;
	--background-secondary: #39404d;
	--background-tertiary: #383a3e;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: sans-serif;
	font-weight: 400;
	max-height: 100%;
}

.page {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.5fr 4fr;
	grid-template-areas: 
		"topbar topbar"
		"sidebar chat"
	;
	width: 100%;
	height: 100vh;
	max-height: 100%;
	overflow-x: hidden;
}

.page-mobile-sidebar-closed {
	grid-template-areas: 
		"topbar topbar"
		"chat chat"
	;
}

.blue-text {
	color: var(--primary-color);
}

::-webkit-scrollbar {
	width: 0.7rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 0.7rem;
}

::-webkit-scrollbar-track {
	background-color: var(--background-secondary);
	border-radius: 0.7rem;
}

